# lombok.config
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += com.concertticketing.userapi.common.annotation.DefaultKafkaTemplate
lombok.copyableAnnotations += com.concertticketing.userapi.common.annotation.LowLatencyKafkaTemplate
